<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[猜拳]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[捂脸哭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[笑哭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[吃瓜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[让我看看]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[斜眼笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[痴笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[666]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[裂开]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[在吗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[哦]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[秃头]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[暗中观察]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[苦涩]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[大兵]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[无语]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[拒绝]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[乱麻]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[天使]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[叹气]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[笑如花]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[翻白眼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[打call]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[giao]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[求勾搭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[吐舌头]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[示爱]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[熬夜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[想静静]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[吐血]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[凄凉]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[柠檬]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[美美哒]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[二哈]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[狗子]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[狗子裂开]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[瓢虫]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[忍者]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[熊爪]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[比心]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[拜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[hi]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[击掌]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[拍]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[强]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[赞]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[棒棒糖]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[爆筋]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[鞭炮]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[菜刀]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[钞票]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[红灯笼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[米饭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[飞机]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[彩带]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[红包]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[可]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[枯萎玫瑰]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[蓝]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[篮球]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[蜡烛]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[奶瓶]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[你好]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[NO]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[乒乓]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[闪电]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[手枪]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[桃子]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[红双喜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[小哥哥]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[小姐姐]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[药]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[月亮]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>0</integer>
		<key>face_name</key>
		<string>[皮球]</string>
	</dict>
</array>
</plist>
 